@import "node_modules/font-awesome/scss/font-awesome.scss";

// searchbar start

$background-color: white;
$search-bg-color: white;
$secondary-color: #00FEDE;
$transition: all .5s ease;

* {
    box-sizing: border-box;
}

body {
    background: $background-color;
}

.search {
    width: 50px;
    height: 50px;
    background-color: $search-bg-color;
    position: relative;
    overflow: hidden;
    transition: $transition;

    &:before {
        content: '';
        display: block;
        width: 5px;
        height: 100%;
        position: relative;
        background-color: $secondary-color;
        transition: $transition;
    }

    &.open {
        width: 420px;

        &:before {
            height: 30px;
            margin: 10px 0 10px 5px;
            position: absolute;
        }
    }
}

.search-box {
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: none;
    background: transparent;
    color: black;
    padding: 10px 50px 10px 20px;
    font-size: 20px;

    &:focus {
        outline: none;
    }
}

.search-button {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    cursor: pointer;
}

.search-icon {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid $secondary-color;
    display: block;
    position: relative;
    margin-left: 3px;
    transition: $transition;

    &:before {
        content: '';
        width: 2px;
        height: 8px;
        position: absolute;
        right: -1px;
        top: 15px;
        display: block;
        background-color: $secondary-color;
        transform: rotate(-45deg);
        transition: $transition;
    }

    &:after {
        content: '';
        width: 2px;
        height: 8px;
        position: absolute;
        right: -6px;
        top: 20px;
        display: block;
        background-color: $secondary-color;
        transform: rotate(-45deg);
        transition: $transition;
    }

    .open & {
        margin: 0;
        width: 30px;
        height: 30px;
        border-radius: 30px;

        &:before {
            transform: rotate(52deg);
            right: 11px;
            top: 11px;
            height: 9px;
        }

        &:after {
            transform: rotate(-230deg);
            right: 11px;
            top: 7px;
            height: 9px;
        }
    }
}

// searchbar end

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td, th {
    // padding: 4px;
    border: 1px solid #ccc;
    // text-align: left;
}
